.header {
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: white;
    display: flex;
    align-items: center;
    min-width: fit-content;
}

.mobile__header {
    background-color: black;
    display: flex;
    align-items: left;
    min-width: fit-content;
}

.logo {
    text-align: right;
}